﻿@using HospitalManagment.ViewModels.Department
@model IEnumerable<DepartmentIndexViewModel>

@{
    ViewData["Title"] = "All Departments";
}

<h2>All Departments in the Hospital</h2>

<div class="row">
    @foreach (var department in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/Department.jpg" class="card-img-top" alt="Doctor Image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-title"><strong>Department name: </strong>@department.Name</p>
                    <p class="card-text"><strong>Department doctors: </strong>@department.DepartmentDoctors</p>
                    <p class="card-text"><strong>Department nurses: </strong>@department.Nurses</p>
                    <p class="card-text"><strong>Department rooms: </strong>@department.Rooms</p>
                    <div class="btn-group" role="group" aria-label="Department Actions">


                        <form asp-controller="Doctor" asp-action="AddDoctorToDepartment" method="get" class="d-inline">
                            <input type="hidden" name="depId" value="@department.Id" />
                            <button type="submit" class="btn btn-warning">Add doctor to department</button>
                        </form>

                        <form asp-controller="Nurse" asp-action="AddNurseToDepartment" method="get" class="d-inline">
                            <input type="hidden" name="depId" value="@department.Id" />
                            <button type="submit" class="btn btn-warning">Add nurse to department</button>
                        </form>


                        <form asp-controller="Room" asp-action="Add" method="get" class="d-inline">
                            <input type="hidden" name="depId" value="@department.Id" />
                            <button type="submit" class="btn btn-warning">Add room to department</button>
                        </form>
                        <!-- Update Button -->
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@department.Id" class="btn btn-warning btn-sm">Update</a>

                        <!-- Delete Button -->
                        <form asp-controller="Department" asp-action="Delete" asp-route-id="@department.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this doctor?');">
                                Delete
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
