@using HospitalManagment.ViewModels.Doctor
@model AddDoctorViewModel

@{
    ViewData["Title"] = "Add Doctor";
}

<div class="container mt-5">
    <h2 class="text-center">Add New Doctor</h2>

    <form asp-action="Create" method="post" class="mt-4">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="FirstName" class="control-label" p style="font-weight: bold;">First Name</label>
            <input asp-for="FirstName" class="form-control" aria-required="true" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label" p style="font-weight: bold;">Last Name</label>
            <input asp-for="LastName" class="form-control" aria-required="true" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Specialty" class="control-label" p style="font-weight: bold;">Specialty</label>
            <input asp-for="Specialty" class="form-control" aria-required="true" />
            <span asp-validation-for="Specialty" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label" p style="font-weight: bold;">Password</label>
            <input asp-for="Password" type="password" class="form-control" aria-required="true" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label" p style="font-weight: bold;">Email</label>
            <input asp-for="EmailAddress" type="email" class="form-control" aria-required="true" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Salary" class="control-label" p style="font-weight: bold;">Salary</label>
            <input asp-for="Salary" type="form-control" class="form-control" aria-required="true" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-2">
            <label asp-for="@Model.DepartmentId" class="form-label-add-edit" p style="font-weight: bold;">Select Category</label>
            <select asp-for="@Model.DepartmentId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Departents, "Id", "Name"))">
                <option value="">Select Department...</option>
            </select>
            <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Add Doctor</button>
        <a asp-action="Index" class="btn btn-secondary mt-3 ml-2">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
